.footer {
  background: #000000;
}

.footer-container {
  max-width: 75rem;
  padding: 7.5rem 1.25rem 3.75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33rem;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 1.875rem;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 50rem) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}
